.experienceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 60px;
  height: 500px;
  width:800px;
  margin: auto;
  border-radius: 20px;
}

.experienceList {
    margin-top: 50px;
}

.title {
  color: var(--color-text);
  font-size: 24px;
  margin: 0 30px;
}



.text {
    color : var(--color-text);
}

.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  align-items: center;
  list-style: none;
  gap: 10px;
  margin-top: 10px;
}

.icon {
    height: 100px;
    width: 100px;
    margin-left: 10px;
    transition: transform 0.3s ease; /* Smooth transition effect */
  }
  
  .icon:hover {
    transform: scale(1.1); /* Scale up to 110% of the original size */
  }
  

.icon2 {
    margin-top: 20px;
    margin-left: 20px;
    height: 40px;
    width: 40px;
}

.icon3{
    margin-top: 20px;
    margin-left: 20px;
    height: 40px;
    width: 40px;
}

.skillset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  gap: 20px;
  background-color: rgb(9, 9, 85);
  height:100px;
padding-top: 10px;
border-radius: 10px;
opacity: 1;
margin: 20px 0;
}

.description {
  width: 300px;
  text-decoration: dotted;
  margin-top: 5px;
  color: var(--color-text);
  list-style-type: disc;
  font-size: 12px;
  margin-left: 20px;
}

.listText {
  color: var(--color-text);
  font-family: var(--font-roboto);
}

.resume {
    list-style: none;
}

@media screen and (max-width: 830px){
 
    .experienceContainer {
        margin-top:20px;
        height: 500px;
        margin-bottom: 400px;
        display: flex;
        align-items: center;
        width:auto;
        flex-direction: column;

    }

  }
@media screen and (max-width: 480px){
 
    .experienceContainer {
        margin-top:20px;
        height: 500px;
        margin-bottom: 400px;
        display: flex;
        align-items: center;
        width:auto;
        flex-direction: column;

    }

  }