*{

  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: "Outfit, Arial, Helvetica,sans-serif"

}

body {
  background-color: #0a0a0a; /* Very dark gray, almost black */
  color: #ffffff; /* White text for contrast */
}

