.audioPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.playButton {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}